<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <%- include('../partials/nav') %>
    
    <div class="container d-flex  justify-content-center" style="height: 100vh;">
        <div class="row">
            <div class="col-12">
                <h1 class="text-danger">404 not found</h1>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
    <script src="/static/js/generate.js"></script>
</body>
</html>